*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
   font-family: 'Roboto', sans-serif;
}

header{
    background-color: #fff;
    font-size: 30px;
    font-weight: 900;
}

#logo{
    margin: 10px 0px 10px 15px;
    vertical-align: middle; 
    /* La riga sopra agisce sul testo affiancato ed evita di dover ripetere il comando di stile al testo successivo */
}

main{
    background-color:#b1bbf8;
    padding-top: 30px;
    padding-bottom: 10px;
}

.bottoni, .liste{
    padding: 15px 0px 10px 40px;
    background-color: #fff;
    width: 70%;
    margin: auto;
}

.bottoni{
    border-radius: 5px 5px 0px 0px ;
    margin-bottom: 3px;
}

.bottone1{
    color: #fff;
    background-color: #47adf1;
    padding: 6px 10px;
    border: #47adf1 solid 2px;
    border-radius: 7px;
}
.bottone2{
    color: #d8dce0;
    background-color: #fff;
    padding: 6px 10px;
    border: #d8dce0 solid 2px;
    border-radius: 7px;
}

.liste{
    border-radius: 0px 0px 5px 5px;
}
/* titoli liste */
dt:before{
   content: '\25BC';
}

dt{
    font-weight: 900;
}
/* elementi liste */

dd{
    margin-left: 40px;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 700;
    
}

dd + dt{
    margin-top:20px;
}

/* check e cross */
.check:before{
    content: '\2714';
    font-size: 10px;
    color:#64c0a9;
    border: #64c0a9 solid 1px; 
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
}

.cross:before{
    content: '\2718';
    font-size: 10px;
    color:#ea453b;
    border: #ea453b solid 1px; 
    border-radius: 50%;
    margin-right: 10px;
    margin-bottom: 5px;
}

/* tag colorati */
.editorial:after{
    content: "editorial";
    color: #fff;
    font-size: 7px;
    background-color: #47adf1;
    padding: 2px 5px;
    border-radius: 7px;
    margin-left: 5px;
}

.q1:after{
    content: "Q1 Goals";
    color: #fff;
    font-size: 7px;
    background-color: #9c72e4;
    padding: 2px 5px;
    border-radius: 7px;
    margin-left: 5px;
}

.recruiting:after{
    content: "Recruiting";
    color: #fff;
    font-size: 7px;
    background-color: #64c0a9;
    padding: 2px 5px;
    border-radius: 7px;
    margin-left: 5px;
}

.mobile:after{
    content: "Mobile";
    color: #fff;
    font-size: 7px;
    background-color: #f29e33;
    padding: 2px 5px;
    border-radius: 7px;
    margin-left: 5px;
}

.website:after{
    content: "Website";
    color: #fff;
    font-size: 7px;
    background-color: #d863a1;
    padding: 2px 5px;
    border-radius: 7px;
    margin-left: 5px;
}

.sales:after{
    content: "Sales";
    color: #fff;
    font-size: 7px;
    background-color: #b0c926;
    padding: 2px 5px;
    border-radius: 7px;
    margin-left: 5px;
}